<!DOCTYPE html>
<html>
    <head>
        <title>Tinyone</title>
        <meta name="author" content="AutoLs">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/92225220cd.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="app.js" defer></script>
    </head>
    <body>
        <div id="header" class="bg-yellow-400">
            <div id="header-top" class="flex text-center w-full font-['Helvetica'] font-bold py-14">
                <div class="basis-1/3"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
                <div class="text-3xl basis-1/3"><i class="fa-solid fa-fingerprint"></i> tinyone</div>
                <div class="space-x-2 basis-1/3 text-xl">
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-square-google-plus"></i></a>
                    <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
                </div>
            </div>
            <div class="w-full text-center py-24 font-['Tahoma']">
                <div class="text-4xl font-medium">Inspire Your Inspiration</div>
                <!-- <div class="text-base text-center ml-48 mt-5 font-bold">tristique bibendum., Donec rutrum sed sem quis sed sem quis venenatis</div> -->
                <div class="space-x-14 mt-10 text-3xl">
                    <i class="fa-brands fa-apple"></i>
                    <i class="fa-brands fa-android"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
            </div>
            <div class="text-center text-4xl pb-10">
                <a href="#content"><i class="fa-regular fa-circle-down"></i></a>
            </div>
        </div>
        <div id="content" class="font-['Tahoma']">
            <div class="m-auto text-center mt-24 w-1/3">
                <div class="font-bold text-xl">Tinyone features</div>
                <div class="mt-1">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
            </div>
            <div id="features" class="xl:px-0 py-20 px-20">
                <div class="md:w-1/2 xl:w-1/2 m-auto grid xl:grid-cols-3 gap-16">
                    <div>
                        <div class="font-bold text-xl">Fully Responsive</div>
                        <div class="mt-2">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
                    </div>
                    <div class="hidden xl:block xl:row-span-2">
                        <img src="https://puu.sh/JnBnB/6b44f29ed7.png" height="500">
                    </div>
                    <div>
                        <div class="font-bold text-xl">Font Awesome Icons</div>
                        <div class="mt-2">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
                    </div>
                    <div>
                        <div class="font-bold text-xl">HTML3 & CSS3</div>
                        <div class="mt-2">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
                    </div>
                    <div>
                        <div class="font-bold text-xl">Free to download</div>
                        <div class="mt-2">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
                    </div>
                    <div class="xl:hidden xl:row-span-2">
                        <img src="https://puu.sh/JnBnB/6b44f29ed7.png" height="500" class="m-auto">
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="bg-black font-['Tahoma'] py-20">
            <div class="p-10 lg:p-0 lg:w-[800px] lg:m-auto">
                <div class="text-center font-bold text-xl text-yellow-400">Keep in touch with us</div>
                <div class="mt-1 text-neutral-400">Lorem ipsum dolor sit amet consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</div>
                <div class="flex mt-10 space-x-4">
                    <input type="text" placeholder="Enter your email to update" class="w-full p-3 rounded">
                    <button class="bg-yellow-400 rounded px-4 py-2">SUBMIT</button>
                </div>
            </div>
            <div class="p-10 w-full lg:w-[1280px] lg:m-auto lg:mt-20 lg:p-0">
                <div class="grid grid-cols-1 text-white lg:grid-cols-5">
                    <div>
                        TINYONE LTD<br>
                        66, Dang Van ngu, Dong Da<br>
                        Hanoi, Vietnam<br>
                        contact@halovietnam.com<br>
                        +844 35149182<br>
                    </div>
                    <div class="flex justify-between text-white mt-4 lg:mt-0 lg:block">
                        <div><a href="#">Example</a></div>
                        <div><a href="#">Shop</a></div>
                        <div><a href="#">License</a></div>
                    </div>
                    <div class="flex justify-between text-white mt-4 lg:mt-0 lg:block">
                        <div><a href="#">Contact</a></div>
                        <div><a href="#">About</a></div>
                        <div><a href="#">Privacy</a></div>
                        <div><a href="#">Terms</a></div>
                    </div>
                    <div class="flex justify-between text-white mt-4 lg:mt-0 lg:block">
                        <div><a href="#">Download</a></div>
                        <div><a href="#">Support</a></div>
                        <div><a href="#">Documents</a></div>
                    </div>
                    <div class="flex justify-between text-white mt-4 lg:mt-0 lg:block">
                        <div><a href="#">Media</a></div>
                        <div><a href="#">Blog</a></div>
                        <div><a href="#">Forums</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>